@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #0f172a;
  font-family: "Poppins", sans-serif;
}

.searchBar {
  background-color: #cbd5e1;
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 0 10px 0 5px;
  border-radius: 6px;
}

.searchBar svg {
  margin: 0 10px;
  color: #1e293b;
}

.searchBar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: transparent;
  background: transparent;
  color: #1e293b;
}

.searchBar input::placeholder {
  color: #1e293b;
}

.produk-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.produk-list .headProduk h1 {
  margin-left: 25px;
  font-size: 35px;
  color: #f1f5f9;
}

.produk-list .headProduk p {
  font-size: 12px;
  margin-left: 25px;
  color: #64748b;
}

.produk-list .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 96%;
  margin: 0 auto;
}

.container .produk {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 8px 10px;
  margin: 20px 0;
  border-radius: 6px;
  background-color: #334155;
  color: #f1f5f9;
  text-transform: capitalize;
}

.produk div {
  width: 100%;
}

.produk div hr {
  margin: 2px 0;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .searchBar {
    width: 75%;
  }

  .produk-list .headProduk h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }

  .produk-list .headProduk p {
    text-align: center;
    margin: 0;
  }

  .container .produk {
    width: 90%;
  }

  .container .produk div:nth-child(2) img {
    width: 80px;
    height: 70px;
  }
}
