@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 13px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(214, 32%, 91%, 0.2);
}

body {
  background: #0f172a;
  font-family: "Poppins", sans-serif;
}

.searchBar {
  background-color: #bac4cf;
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 0 10px 0 5px;
  border-radius: 6px;
  position: relative;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: transparent;
  position: sticky;
  top: 25px;
}

.searchBar:focus,
.searchBar:focus-within {
  width: 300px;
  background-color: #cbd5e1;
}

.searchBar svg {
  margin: 0 10px;
  color: #1e293b;
}

.searchBar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: transparent;
  background: transparent;
  color: #1e293b;
}

.searchBar input::placeholder {
  color: #1e293b;
}

.produk-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.produk-list .headProduk h1 {
  margin-left: 25px;
  font-size: 35px;
  color: #f1f5f9;
}

.produk-list .headProduk p {
  font-size: 12px;
  margin-left: 25px;
  color: #64748b;
}

.produk-list .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.container .produk {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: #334155;
  color: #f1f5f9;
  text-transform: capitalize;
}

.produk div {
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produk div hr {
  margin: 2px 0;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .searchBar {
    width: 25%;
    background-color: #bac4cf;
  }

  .searchBar:focus,
  .searchBar:focus-within {
    width: 35%;
    background-color: #cbd5e1;
  }

  .produk-list .headProduk {
    margin-bottom: 15px;
  }

  .produk-list .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .container .produk {
    width: 40%;
    margin: 7px 0;
  }
}

@media screen and (max-width: 576px) {
  .searchBar {
    width: 40%;
    background-color: #bac4cf;
  }

  .searchBar:focus,
  .searchBar:focus-within {
    width: 70%;
    background-color: #cbd5e1;
  }

  .produk-list .headProduk {
    margin-bottom: 15px;
  }

  .produk-list .headProduk h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }

  .produk-list .headProduk p {
    text-align: center;
    margin: 0;
  }

  .produk-list .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .produk {
    width: 80%;
  }
}
